.magazine-cover img {
	width: 150px;
	height: 190px;
}

.external-link img {
	width: 180px;
	height: 52px;
}

.service-link img {
	width: 150px;
	height: 55px;
}

.header-correction-bg {
    background-image: url('/images/header_banner.png');
    background-repeat: no-repeat;
    padding-top: 90px;
}



footer a {
	color: #666;	
}

footer h4 {
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-transform: none;
}

footer ul {
	padding: 0;
}

footer li {
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 0;
	font-size: .917em;

}
