.magazine-cover img {
	width: 150px;
	height: 190px;
}

.external-link img {
	width: 180px;
	height: 52px;
}

.service-link img {
	width: 150px;
	height: 55px;
}

.header-correction-bg {
    background-image: url('/images/header_banner.png');
    background-repeat: no-repeat;
    padding-top: 90px;
}

.sidebar-inner {
	background: #fff;
	border-top: 4px solid #880000;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
/*    margin: 0px 3px 20px 3px;   */
}

.sidebar-inner h3 {
	color: #b70000;
	border-bottom: 3px solid  #eae1e1;
	background-color: antiquewhite;
	padding: 10px 10px 5px 10px;

}

.link-more {
	font-size: 12px;
}

footer a {
	color: #666;	
}

footer h4 {
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-transform: none;
}

footer ul {
	padding: 0;
}

footer li {
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 0;
	font-size: .917em;

}

.newbullet {
	background: #ca0002;
	font-size: 10px;
	margin: 0px 5px 0px 0px;
	padding: 2px 5px 2px 5px;
	color: #fff;
}

.underline-dashed-brown {
	border-bottom: 1px dashed #dbc3c3;
	margin-bottom: 10px;
}

.thumbnail-announce {
    width: 240px;
    height: 150px;
}

a {
	color: #880000;
	text-decoration: none;
}
a:hover, a:focus {
	color: #d80202;
	text-decoration: none;
}

.alt-section {
	background-color: brown; /*#e9e9e9*/;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}


.icon-md {
  font-size: 18px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}
.icon-color1 {
  background-color: #ca0002;
}
.icon-color2 {
  background-color: #2ecc71;
}
.icon-color3 {
  background-color: #3498db;
}
.icon-color4 {
  background-color: #8e44ad;
}
.icon-color5 {
  background-color: #1abc9c;
}
.icon-color6 {
  background-color: #2c3e50;
}
.center{
	text-align: center;
}
.member{
	text-align: center;
}
.designation{
	text-align: center;
	display: block;
}


/* Link out */
.linkout-items{
	position: relative;
	left: 0px;
	top: 20px;
	transform: translate3d(0px, 0px, 0px);
}

.linkout-items li{
	float: left;
	padding: 0;
	margin: 0;
	display: list-item;
	list-style: none;
}
.linkout-items .thumbnail{
	bottom: 0px;
	height: 250px;
}
.linkout-items .thumbnail img{
	width: 165px;
}
.linkout-items .item-inner{
	margin: 0 20px 20px 0;
	text-align: center;
	background: #fff;
	padding: 10px;
	border-bottom: 1px solid #e1e1e1;
}
.clear{
	clear: both;
}